:root {
    --dark-green: rgb(31, 78, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 25px;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    box-shadow: 0px 0px 5px 0px var(--dark-green);
    gap: 1vh;
    padding: 2vh;
    border-radius: 0.5rem;
}

.input {
    display: flex;
    flex-direction: column;
    width: 80%;
    
    label {
        display: inline;
        background-color: white;
        position: relative;
        left: 1rem;
        top: 0.2rem;
    }
    
    input {
        border: 1px solid var(--dark-green);
        font-size: 1.5rem;
        border-radius: 0.2rem;
    }

    padding-bottom: 0.5rem;
    
}


